@model Eskaney.Models.ManPowerCoust
@{
    ViewBag.Title = "Add ManPower";
    Layout = "~/Areas/Housing_Projects/Views/Shared/_Home.cshtml";
}

@section Head{

    <script type="text/javascript">


        $(document).ready(function () {

            $("#ManPower").addClass("active");

            var test = '@TempData["CompanyName"]'

            debugger
            var Housing_ID = '@TempData["HousingID"]';

            // For Date
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;
            $('#txtDate').val(today);

            /***********************************/

            // Stop going back after log off
            //debugger;
            //if (window.history.forward(1) != null)
            //    window.history.forward(1);
            /*******************************/

        });


    </script>

}

@section Body{

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form action="Add_ManPower" method="post">
            <div class="container">
                <div class="row col-xl-12" style="margin: 0;">
                    <img class="offset-xl-5 offset-lg-5 offset-md-5 offset-sm-5 offset-5" src="~/Image/AddLabour.png" style="width: 100px;margin-top: 40px;" />
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header"><h4 style="cursor: default;"><i style="margin-right: 20px;" class="fas fa-plus-circle"></i>Add ManPower Expenses</h4></div>
                <div class="card-body">

                    <div class="row" style="margin: 0px 0px;width: 90%;">
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-2 offset-sm-2">
                                @Html.EditorFor(a => a.Parson_Name, new { htmlAttributes = new { @id = "txtParsonName", @class = "form-control" } })
                                @Html.ValidationMessageFor(a => a.Parson_Name, "", new { @class = "text-danger" })
                                <label for="txtParsonName">Person Name</label>
                            </div>
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-1 offset-sm-1">
                                @Html.EditorFor(a => a.Labour_Name, new { htmlAttributes = new { @id = "txtLabourName", @class = "form-control" } })
                                @Html.ValidationMessageFor(a => a.Labour_Name, "", new { @class = "text-danger" })
                                <label for="txtLabourName">Labour Name</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 0px;width: 90%;">
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-2 offset-sm-2">
                                @Html.EditorFor(a => a.Parson_Phone, new { htmlAttributes = new { @id = "txtParsonPhone", @class = "form-control" } })
                                @Html.ValidationMessageFor(a => a.Parson_Phone, "", new { @class = "text-danger" })
                                <label for="txtParsonPhone">Parson Phone</label>
                            </div>
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-1 offset-sm-1">
                                @Html.TextBoxFor((a => a.Date), htmlAttributes: new { @class = "form-control form-control-lg", @id = "txtDate" })
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 0px;width: 90%;">
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-2 offset-sm-2">
                                @Html.EditorFor(a => a.Coust, new { htmlAttributes = new { @id = "txtCoust", @class = "form-control" } })
                                @Html.ValidationMessageFor(a => a.Coust, "", new { @class = "text-danger" })
                                <label for="txtCoust">Coust</label>
                            </div>
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-1 offset-sm-1">
                                @Html.EditorFor(a => a.Payment_Vaucher, new { htmlAttributes = new { @id = "txtPaymentVaucher", @class = "form-control" } })
                                <label for="txtPaymentVaucher">Payment Vaucher</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 0px;width: 90%;">
                            <div class="md-form form-lg col-lg-3 col-md-4 col-sm-4 col-6 offset-lg-2 offset-sm-2">
                                @Html.EditorFor(a => a.Notes, new { htmlAttributes = new { @id = "txtNotes", @class = "form-control" } })
                                @Html.ValidationMessageFor(a => a.Notes, "", new { @class = "text-danger" })
                                <label for="txtNotes">Notes</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 0px;width: 90%;margin-bottom: 10px;">
                            <div class="offset-xl-5 offset-lg-5 offset-md-5 offset-sm-5 offset-4">
                                <input id="btnSave" type="submit" class="btn blue-gradient" name="Save" value="Add" style="border-radius: 15px" />
                            </div>
                        </div>
                </div>


            </div>
        </form>
    }

}

